.text1 {
  font-family: "arial";
  font-style: italic;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 0px auto;
  color: blueviolet;
  font-size: 25px;
  letter-spacing: 2px;
  text-shadow: -1px -10px 0px blue, 3px 3px 0px blue, 6px 6px 0px blue 900;
}

.left-panel {
  width: 40%;
  height: 100%;
  border: 1px solid black;
  padding-top: 20px;
}

.right-panel {
  width: 60%;
  min-height: 100%;
  border: 1px solid black;
  margin-left: 10px;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.panels {
  display: flex;
}
