.left-panel {
  width: 40%;
  height: 100%;
  border: 3px solid darkblue;
  padding-bottom: 40px;
}

.right-panel {
  width: 60%;
  min-height: 100%;
  border: 3px solid darkblue;
  margin-left: 10px;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
}
.panels {
  display: flex;
}
