.waste-details {
  padding: 20px 10px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: 300px;
}

.range-select {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.range-buttons {
  align-items: center;
  justify-content: center;
  display: flex;
}

.radio-btn {
  margin: 0 10px 0 15px;
}

.list-label {
  font-family: "arial";
  font-style: italic;
  font-weight: bold;
  text-align: center;
  width: 100%;
  margin: 0px auto;
  color: darkblue;
  font-size: 25px;
  letter-spacing: 2px;
  text-shadow: -1px -10px 0px blue, 3px 3px 0px blue, 6px 6px 0px blue 900;
}
