<div class="waste-details">
  <div class="range-select">
    <label *ngFor="let radiobutton of radioItems">
      <input
        type="radio"
        name="options"
        class="radio-btn"
        (click)="rangeSelected(radiobutton)"
        [checked]="radiobutton.key === model.option"
      />{{ radiobutton.value }}
    </label>
  </div>
  <div
    class="bar-chart"
    *ngIf="showChart"
    style="display: flex; flex-direction: column"
  >
    <ngx-charts-bar-vertical
      [view]="[650, 400]"
      [scheme]="colorScheme"
      [results]="single"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      (select)="onSelect($event)"
    >
    </ngx-charts-bar-vertical>
    <div style="margin-left: 350px">Date</div>
  </div>
</div>
