.home {
  display: flex;
  flex-direction: column;
}
.home-body {
  border: 1px black solid;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px 10px 1px 10px;
  padding: 10px;
  border-radius: 10px;
}

.btn.profile {
  float: right;
}
.btn.logout {
  width: 75px;
  height: 45px;
  margin: 10px;
}

.btn.disabled {
  cursor: default;
}

.heading {
  display: flex;
  justify-content: space-between;
}
.main-heading {
  margin-top: 7px;
}

.buttons-section {
  margin-bottom: 5px;
}
.buttons-section .btn {
  margin-right: 10px;
}

.img-profile {
  width: 30px;
  height: 30px;
}

.img-logo {
  background: url("../../../assets/logo.png");
  width: 150px;
  height: auto;
  opacity: 60%;
}
