<div class="home">
  <div class="heading">
    <img class="img-logo" src="../../../assets/logo.png" />
    <h1 class="main-heading">ZeroWaste</h1>
    <button class="btn btn-light logout" (click)="logout()">Logout</button>
  </div>
  <div class="home-body">
    <div class="buttons-section">
      <button class="btn btn-light" (click)="changeToDashboard()">
        Dashboard
      </button>
      <button
        class="btn btn-light"
        onclick="window.open('https://www.wasteconnectionscanada.com/request-quote/?utm_medium=cpc&utm_source=google&utm_campaign=WCC_Windsor_Search_EN_GeoTarget_Commercial_Industrial&utm_term=waste%20removal&gclid=Cj0KCQiAgribBhDkARIsAASA5bssGCS8XHJX1pR7UcJKnYObfRuQI1BCVufB4yfh18YuGH2ABWSdPz0aAjTwEALw_wcB')"
      >
        E-waste Recycle
      </button>
      <button class="btn disabled" disabled>Garbage Calendar</button>
      <button class="btn disabled" disabled>Analysis</button>
      <button class="btn profile" (click)="changeToProfileSection()">
        <img
          class="img-profile"
          src="../../../assets/profile-icon.png"
          alt="profile"
        />
      </button>
    </div>

    <app-dashboard *ngIf="isDashboardActive"></app-dashboard>
    <app-profile *ngIf="isProfileActive"></app-profile>
  </div>
</div>
