<div class="waste-list">
  <div class="bin-collection">
    <div class="buttons-list">
      <button (click)="binSelected({ key: 'A' })">Kitchen Bin</button>
    </div>
    <div class="buttons-list">
      <button (click)="binSelected({ key: 'B' })">Cans Bin</button>
    </div>
    <div class="buttons-list">
      <button (click)="binSelected({ key: 'C' })">Cardboard Bin</button>
    </div>
    <div class="buttons-list">
      <button (click)="binSelected({ key: 'D' })">Living Room Bin</button>
    </div>
  </div>
</div>
