<div class="waste-list">
  <div class="bin-collection">
    <div class="buttons-list">
      <button (click)="binSelected({ key: 'A' })">BIN - A</button>
    </div>
    <div class="buttons-list">
      <button (click)="binSelected({ key: 'B' })">BIN - B</button>
    </div>
    <div class="buttons-list">
      <button (click)="binSelected({ key: 'C' })">BIN - C</button>
    </div>
    <div class="buttons-list">
      <button (click)="binSelected({ key: 'D' })">BIN - D</button>
    </div>
  </div>
</div>
