<div class="waste-list">
  <div class="list-label">Choose Your Bin</div>
  <div *ngIf="getNewBinDetails" style="margin: 0 100px">
    <form
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
    >
      <div><b>Add Details of New Bin</b></div>
      <div class="form-group">
        <label for="username">Bin Name</label>
        <input
          type="text"
          class="form-control"
          name="binName"
          [(ngModel)]="form.binName"
          required
          #name="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="name.errors && f.submitted"
        >
          Name is required!
        </div>
      </div>
      <div class="form-group">
        <label for="password">Bin Product Id</label>
        <input
          type="text"
          class="form-control"
          name="productId"
          [(ngModel)]="form.productId"
          required
          #id="ngModel"
        />
        <div
          class="alert alert-danger"
          role="alert"
          *ngIf="id.errors && id.errors['required'] && f.submitted"
        >
          Product Id is required
        </div>
      </div>
      <div class="form-group">
        <button
          class="btn btn-primary btn-block"
          [disabled]="addNewBinBtnDisabled"
        >
          Save
        </button>
      </div>
      <div>
        <button
          class="btn btn-block"
          *ngIf="getNewBinDetails"
          (click)="closeAddBinMenu()"
        >
          Close
        </button>
      </div>
    </form>
  </div>
  <div class="bin-collection">
    <button
      class="button-64 new-bin-btn"
      *ngIf="!getNewBinDetails"
      (click)="addNewBin()"
    >
      Add new Bin
    </button>
    <div class="buttons-list scrollbar" id="style-1">
      <button
        class="button-64"
        role="button"
        *ngFor="let bin of binCollection"
        (click)="binSelected(bin)"
        [ngStyle]="{
          'background-color': selectedBinDetails?._id === bin._id ? 'red' : '',
          'background-image': selectedBinDetails?._id === bin._id ? 'none' : ''
        }"
      >
        <span class="text">{{ bin.name }}</span>
      </button>
    </div>
  </div>
</div>
